<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.samepage.mapper.DocumentInfoMapper">

    <resultMap id="BaseResultMap" type="ai.samepage.entity.DocumentInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="docName" column="doc_name" jdbcType="VARCHAR"/>
            <result property="createId" column="create_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="INTEGER"/>
            <result property="docType" column="doc_type" jdbcType="VARCHAR"/>
            <result property="objId" column="obj_id" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,doc_name,create_id,
        create_time,md5,size,
        doc_type,obj_id,is_deleted,
        status
    </sql>
</mapper>
